.start-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/homePage.jpeg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  color: #333;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  text-align: center;
  color: #333;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 90%;
}

.header h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}

.header p {
  font-size: 1.2rem;
  margin: 20px 0;
  color: #555;
}

.explore-button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #ff7e5f;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.explore-button:hover {
  background-color: #ff6347;
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
